body {
    background-color: #f8f9fa;
}

.red {
    background-color: #d30000;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    color: #333;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    border-radius: 5px;
}

.login-form button[type="submit"] {
    border-radius: 5px;
}

@media (min-width: 768px) {
    .login-form {
        margin-top: 50px;
    }
}

.form-control:focus {
    border-color: #d3000084;
    box-shadow: 0 0 0 0.2rem #d300004e;
}

.btn {
    background-color: #d30000;
}

.btn:hover {
    background-color: #d30000;
}

.btn:disabled {
    background-color: #d30000A0;
}

.form-check-input:focus {
    border-color: #d3000084;
    box-shadow: 0 0 0 0.2rem #d300004e;
}

.form-check-input:checked {
    background-color: #d30000;
}

#signup-button {
    color: #d30000;
}
#signup-button:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
}