body {
    background-color: #f8f9fa;
}

.red {
    background-color: #d30000;
}

.register-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    color: #333;
}

.register-form input[type="email"],
.register-form input[type="password"] {
    border-radius: 5px;
}

.register-form button[type="submit"] {
    border-radius: 5px;
}

@media (min-width: 768px) {
    .register-form {
        margin-top: 20px;
    }
}

.form-control:focus {
    border-color: #d3000084;
    box-shadow: 0 0 0 0.2rem #d300004e;
}

.btn {
    background-color: #d30000;
}

.btn:hover {
    background-color: #d30000;
}

.btn:disabled {
    background-color: #d30000A0;
}

a {
    color: #d30000;
}