body {
    background-color: #f8f9fa;
}
/* login */
.red {
    background-color: #d30000;
}

.form-control:focus {
    border-color: #d3000084;
    box-shadow: 0 0 0 0.2rem #d300004e;
}

.btn {
    background-color: #d30000;
}

.btn:hover {
    background-color: #d30000;
}

.btn:disabled {
    background-color: #d30000A0;
}

/* dashboard */

.navbar {
    background-color: #d30000;
}
/* css thẻ a, không còn dâu gạch chân */
a {
    text-decoration: none;
    text-decoration-style: #fff;
}
/* css cho thẻ li, chiều dài = 2/3 chiều dài mặc đinh ban đầu, căn lề các li về bên phải, gióng theo nút menu  */
li {
    width: 75%;   
}
li:hover {
    border-color: #d3000084;
    box-shadow: 0 0 0 0.1rem #d300004e;
}

#dateTimePicker {
    display: none;
}

.vertical-line {
    border-left: 2px solid gray; /* Định dạng đường thẳng đứng */
    height: 30px; /* Chiều cao của đường thẳng đứng */
    color: white; /* Màu của đường thẳng đứng */
}

/* 
.questionItem {
    border: 1px solid #d30000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.options {
    margin-top: 10px;
} */

